/* geral */
body{
    margin: 0;
    padding: 0;
}
.container{
    width: 25rem;
    margin-top: 3.5rem;
    border: 0.15rem solid black;
    border-radius: 1rem;
    padding: 2rem 2rem;
    background-color: rgb(169, 222, 252);
}

/* teclado */
.teclado{
    margin-top: 2rem;
}
.teclado .row{
   margin: 1rem;
   justify-content: center;
}
.tecla{
    width: 3rem;
    margin: 0.5rem;
    border-color: black;
}
/* btn de resultado */
#calcular{
    width: 15rem;
    border-color: black;
    font-weight: bolder;
}
/* display */
#display{
    text-align: right;
    padding-right: 1rem;
    height: 3rem;
    font-size: 1.2rem;
    color: black;
    width: 16rem;
    border-color: rgb(65, 65, 65);
}
.display{
    display: flex;
    justify-content: space-around;
}
/*dark mode*/
#mode-container #mode{
    float: right;
    padding-right: 2rem;
    margin-top: -3rem;
    
}

/* Copyright */

#copy-area{
    background-color: rgba(195, 231, 255, 0.616);
    text-align: center;
    width: 100%;
    margin-top: 3.7%;
    padding: 6px 0 ;
     color: rgb(0, 0, 0);
}
#copy-area a{
  color: rgb(128, 119, 255);
}
#copy-area a:hover{
    text-decoration: none;
    color: rgb(37, 202, 86);
}

/* responsive mobile */
@media (max-width: 430px){
    body{
        background-color: black;
    }
    .container{
        width: 100%;
        margin-top: 0;
        border-radius: 0rem;
        padding: 3.3rem 0;
        background-color:black; 
        border-color: #00fff5;
    }
    .tecla{
        width: 4rem;
        height: 3rem;
    }
    .btn-primary{
        background-color: #00fff5;
        color: black;
    }
    .btn-success{
        background-color: #39ff00;
    }
    .btn-warning{
        background-color: #e9ff00;
    }
    #calcular{
        width: 18rem;
        height: 3rem;
    }
    #display{
        padding-right: 1rem;
        height: 4.3rem;
        font-size: 2rem;
        width: 20rem;
    }
    #mode-container #mode{
        display: none;
    }
    #copy-area{
        font-size: 18px;
        font-weight: bold;
        color: white;
        background-color: rgb(37, 37, 37);
    }
    #copy-area a{
        color: rgb(0, 255, 255);
    }
}